{# templates/registration/email_verification.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
Please close this tab and verify your email.
</body>
</html>
