/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
}

.main-body {
    background-color: #F0F0F0;
}

/* Top menu color and size */
.custom-navbar {
    background-color: #4E0707;
    padding: 1rem;
}

/* Highlight the 'Books' text on the menu */
.home-link {
    font-weight: bold;
    color: #F2C14E;
}

/* Book list styles */
.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4E0707;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    list-style: none;
}

.page-item {
    margin: 0 0.5rem;
    border-radius: 3px;
    overflow: hidden;
}

.page-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #F2C14E;
    text-decoration: none;
    background-color: #4E0707;
    transition: all 0.3s ease;
}

.page-link:hover,
.page-link:focus {
    color: #4E0707;
    background-color: #F2C14E;
}

/* Not found message */
h2 {
    text-align: center;
    color: #4E0707;
}

